#projecttitle{
    font-size: 60px;
}
table,th,td{
    border: 1px solid grey;
}
h1{
    color: aliceblue;
    background-color: black;
    display: block;
}

.emphasis{
    color: blueviolet;
}

.map{
    height: 400px;
    width: 100%;
}